.linear-container {
    position: relative;
    border-radius: 70px;
    overflow: hidden;
  }
  
  /* .percentage-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  } */
  
  .progress-bar {
    height: 100%;
    transition: width 0.5s;
  }

  .price-tag{
    color: white;
    font-size: 12px;
    font-weight: 700;
  }

  .percentage-container.left {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    line-height: 20px;
    padding-left: 15px; 
  }
  
  .percentage-container.center {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 100px;
    line-height: 20px;
    /* justify-content: center; */
  }
  
  